* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  padding: 2rem;
}
i {
  text-decoration: none;
  font-style: normal;
  text-align: center;
}
button {
  width: 8vh;
  height: 8vh;
  position: absolute;
  cursor: pointer;
  font-size: 3rem;
  font-weight: 500;
  background: linear-gradient(45deg, #ff9966, #e1eec3);
  color: #000000;
  box-shadow: 0 0 1rem #000000;
  border: #ffffff 0.01rem solid;
  border-radius: 50%;
}
button:active {
  box-shadow: 0 0 1rem #ffffff;
  border: #ffffff 0.01rem solid;
  color: #ffffff;
}
.container {
  padding: 10px;
  background: linear-gradient(-45deg, #e1eec3, #ff9966);
  width: 50vh;
  height: 50vh;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 4rem;
}

.title,
.num {
  font-size: 4rem;
}
.inc {
  bottom: 2%;
  right: 10%;
}
.dec {
  bottom: 2%;
  left: 10%;
}
